[Unit]
Description=Monitoring system and time series database

[Container]
ContainerName=prometheus
Exec=--config.file=/config.yaml --storage.tsdb.retention.time=20d --storage.tsdb.retention.size=5GB
Image=docker.io/prom/prometheus:v3.3.0
Network=proxy
Volume=./prometheus/config.yaml:/config.yaml:ro
Volume=prometheus.volume:/prometheus

[Service]
Restart=always

[Install]
WantedBy=default.target