[Unit]
Description=A reverse proxy

[Container]
ContainerName=traefik
Image=docker.io/library/traefik:v3.3.5
Network=proxy
PublishPort=80:80
PublishPort=443:443
Volume=./traefik/acme.json:/acme.json
Volume=./traefik/traefik.yaml:/traefik.yaml:ro
Volume=./traefik/config.yaml:/config.yaml:ro
Environment=CF_API_EMAIL=
Environment=CF_DNS_API_TOKEN=

[Service]
Restart=always

[Install]
WantedBy=default.target
